body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(6.png);
    
}
nav{
    padding: 1%;
    margin-top: 0;
    text-align: center;
    margin-top: 3%;

}
nav a{
    box-shadow: 1px 1px 5px black;
    border-radius: 5%;
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
    background-color: white;

}
nav a:hover{
    opacity: 0.5;
    padding: 30px;
    transition: 0.5s;
}
p{
     color: red;

    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
p b{    
    border-radius: 5%;
    padding: 1%;
    box-shadow: 1px 1px 4px black ;
}


.logo{
    display: inline-block;
    margin-left: 20%;
}

.my-project{
    text-align: center;
    margin-top: 5%;
    color: black;
}

.resume{
text-align: center;
}
.resume img{
    width: 80%;
}

.photo img{
    width: 80%;
    box-shadow: 1px 1px 20px 1px black;

}
.text{
    margin-top: 20%;
    color: black;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    text-shadow: 4px 1px red;

}
.display{
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
}
.project-img{
    margin-top: 10%;
  justify-content: center;
 display: flex;
}
.project-nav a{
    padding: 40px;
}
.dawnload-cv {
    text-align: center;
}
.btn-cv{
    margin-bottom: 10%;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
}
.btn-cv:hover{
 background-color: black;
 color: white;
}
.btn-cv a:hover{
    color: white;
   }
   

.btn-cv a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.details{
    text-align: center;
    font-size: 20px;
}
